div{
    position: absolute;
    height: 50%;
    width: 50%;
}

@media screen and (max-width: 1920px){
    div {
        background-color:yellow;
    }
}


@media screen and (max-width: 1366px){
    div {
        background-color:salmon;
    }
}

@media screen and (max-width: 1080px){
    div {
        background-color: purple;
    }
}

@media screen and (max-width: 1024px){
    div {
        background-color: deeppink;
    }
}

@media screen and (max-width: 768px){
    div {
        background-color:orange;
    }
}

@media screen and (max-width: 420px){
    div {
        background-color:rgb(42, 61, 49);
    }
}